CONFIG_PLATFORM_LINUX=y
CONFIG_STATIC=y
CONFIG_EXTRA_CFLAGS="-ffunction-sections -fdata-sections -Wl,--gc-sections"
CONFIG_ECHO=y
CONFIG_INIT=y
CONFIG_FEATURE_USE_INITTAB=y
CONFIG_FEATURE_INIT_SYSLOG=y
CONFIG_FEATURE_INIT_QUIET=y
CONFIG_INIT_TERMINAL_TYPE="linux"
CONFIG_MOUNT=y
CONFIG_IP=y
CONFIG_FEATURE_IP_ADDRESS=y
CONFIG_FEATURE_IP_LINK=y
CONFIG_FEATURE_IP_ROUTE=y
CONFIG_FEATURE_IP_ROUTE_DIR="/etc/iproute2"
CONFIG_UDHCPD=y
CONFIG_FEATURE_UDHCPD_WRITE_LEASES_EARLY=y
CONFIG_DHCPD_LEASES_FILE="/run/udhcpd.leases"
CONFIG_DUMPLEASES=y
CONFIG_BB_SYSCTL=y
# CONFIG_SH_IS_ASH is not set
CONFIG_SH_IS_NONE=y